---
layout: default
---
{% include home-banner.html %}
{% include bottom-banner.html %}
<div id="content">
    <h1 class="hidden hide">Toyota Việt Nam</h1>
    <div class="section-tmv-1">
        <div class="container">
            <div class="heading2">
                Các dòng xe
                <span class="link-view-all">
                    <a href='/xe-moi'>Xem thêm</a>
                </span>
            </div>
        </div>
        <div class="container  s-content">
            <div id="ListStyles" class="list-cate-vehicle">
            </div>
            <div id="ListCars" class="list-vehicle-tmv">
                <div class="slide-vehicle-tmv owl-carousel">
                </div>
            </div>
        </div>
    </div>
    <div class="section-tmv-2">
        <div class="container s-content">
            <div class="list-object">
                <div class="row">
                    <div class="col m6 s12 item">
                        <div class="">
                            <div class="item__inner">
                                <a href="">
                                    <img src="/data/tmv-albums/3/3rioy2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s12 item">
                        <div class="">
                            <div class="item__inner">
                                <a href="">
                                    <img src="/data/tmv-albums/3/pc3okt.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s12 item">
                        <div class="">
                            <div class="item__inner">
                                <a href="">
                                    <img src="/data/tmv-albums/3/km5kz0.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s12 item">
                        <div class="">
                            <div class="item__inner">
                                <a href="https://www.youtube.com/watch?v=a-tyWO2LNf0">
                                    <img src="/data/tmv-albums/3/i41xze.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-tmv-4 ">
        <div class="container">
            <div class="heading2">
                Dịch vụ
            </div>
        </div>
        <div class="container s-content">
            <div class="text-2">
                <div class="list-news-tmv-2 list-3">
                    <ul class="row">
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-dich-vu#sec_dv_01">
                                        <img src="/Content/images/home-dich-vu.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        Chính sách bảo hành
                                    </h3>
                                    <div class="item__txt__7">
                                        Chính sách mang lại những sửa chữa cần thiết, sử dụng những phụ tùng mới hoặc những phụ tùng tái chế cho xe của Khách hàng
                                        nằm trong chế độ được bảo hành
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-dich-vu#sec_dv_02">
                                        <img src="/Content/images/home-dich-vu-2.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        Dịch vụ bảo dưỡng
                                    </h3>
                                    <div class="item__txt__7">
                                        Dịch vụ kiểm tra, bảo dưỡng một cách định kỳ để đảm bảo chiếc xe của Khách hàng luôn được vận hành hiệu quả
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-dich-vu#sec_dv_03">
                                        <img src="/Content/images/home-dich-vu-3.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        Dịch vụ sửa chữa
                                    </h3>
                                    <div class="item__txt__7">
                                        Ngoài dịch vụ bảo dưỡng và sửa chữa những hiện tượng bất thường trên xe, Toyota cũng cung cấp dịch vụ sửa chữa đối với những
                                        hư hỏng do va chạm mà chiếc xe của Khách hàng gặp phải trong quá trình sử dụng
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-dich-vu#sec_dv_03">
                                        <img src="/Content/images/home-dich-vu-4.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        Kiểm tra và triệu hồi
                                    </h3>
                                    <div class="item__txt__7">
                                        Khách hàng có thể kiểm tra xem xe của mình có thuộc các chương trình kiểm tra &amp; triệu hồi hay không
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-tmv-4 bggrey">
        <div class="container">
            <div class="heading2">
                Dịch vụ gia tăng
                <span class="link-view-all">
                    <a>Xem thêm...</a>
                </span>
            </div>
        </div>
        <div class="container s-content">
            <div class="text-2">
                <div class="list-news-tmv-2 list-3">
                    <ul class="row">
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-tu-van-tai-chinh">
                                        <img src="/Content/images/dich-vu-gia-tang.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        VAY TOYOTA - MUA TOYOTA
                                    </h3>
                                    <div class="item__txt__7">
                                        Các sản phẩm vay mua xe Toyota đáp ứng đa dạng các nhu cầu tài chính của khách hàng.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-phu-tung-phu-kien">
                                        <img src="/Content/images/dich-vu-gia-tang-02.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        PHỤ TÙNG & PHỤ KIỆN
                                    </h3>
                                    <div class="item__txt__7">
                                        Tất cả các phụ tùng, phụ kiện chính hãng, được nhập khẩu từ Nhật Bản, Thái Lan và các nước trong khu vực.
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-xe-da-qua-su-dung">
                                        <img src="/Content/images/dich-vu-gia-tang-03.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        XE ĐÃ QUA SỬ DỤNG
                                    </h3>
                                    <div class="item__txt__7">
                                        Xe Toyota đã qua sử dụng với chất lượng đảm bảo, giá cả hợp lý.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col s3">
                            <div class="item__inner">
                                <div class="item__img">
                                    <a href="/toyota-tu-van-bao-hiem">
                                        <img src="/Content/images/dich-vu-gia-tang-04.png">
                                    </a>
                                </div>
                                <div class="item__txt">
                                    <h3 class="item__txt__6">
                                        BẢO HIỂM TOYOTA
                                    </h3>
                                    <div class="item__txt__7">
                                        Sản phẩm dành riêng cho khách hàng Toyota, với dịch vụ 1 cửa về Bảo hiểm, quy trình xử lý chất lượng cao, nhanh chóng.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-tmv-3 bgwhite">
        <div class="container">
            <div class="heading2 noline">
                Công nghệ
            </div>
        </div>
        <div class="container s-content">
            <div class="box_tabs no-blur">
                <ul class="tabs tabs1" id="tabNewsHome1" style="width: 100%;"></ul>
            </div>
            <div class="tab-content-tmv">
            </div>
        </div>
    </div>

    <div class="section-tmv-5">
        <div class="container">
            <div class="heading2 noline">
                Tin tức
            </div>
        </div>
        <div class="container s-content">
            <div class="box_tabs no-blur">
                <ul class="tabs tabs2" id="tabNewsHome" style="width: 100%;"></ul>
            </div>
            <div class="tab-content-tmv">
            </div>
        </div>
    </div>
    <div class="section-tmv-6" id="section-tmv-6">
        <div class="container  hide-mobile">
            <a name="section-tmv-6"></a>
            <div class="row row1">
                <div class="col m6 s12">
                    <div class="heading2">
                        Trao đổi với chúng tôi
                    </div>
                    <div id="toyota-contact" class="form-tmv form-tmv-1 s-content">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <select id="slInterested">
                                        <option disabled selected value="">Thông tin quý khách cần biết (*)</option>
                                        <option>Bán hàng</option>
                                        <option>Dịch vụ</option>
                                        <option>Đại lý</option>
                                        <option>Tư vấn tài chính</option>
                                        <option>Góp ý website</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col  s7">
                                <div class="input-field">
                                    <input id="txtFullname" class="input" type="text" placeholder="Họ tên (*)" onKeyPress="this.value=ucwords(this.value)">
                                </div>
                            </div>
                            <div class="col  s5">
                                <div class="input-field">
                                    <input id="txtPhone" class="input" type="text" placeholder="Điện thoại (*)">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="txtEmail" class="input" type="text" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <textarea id="txtContent" autocomplete="off" class="input" length="500" maxlength="500" placeholder="Nội dung"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <div class="btn_wrap btn_small">
                                        <button id="btnContact" type="submit" class="btn-primary">
                                            <span class="btn_text">Gửi</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col m6 s12">
                    <div class="heading2">
                        Đại lý của bạn
                    </div>
                    <div class="form-tmv form-tmv-2 s-content">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <select id="AreaSelect">
                                        <option value="">Khu vực</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <select id="CitySelect">
                                        <option value="">Tỉnh / Thành phố</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <select id="DistrictSelect">
                                        <option value="">Quận / Huyện</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <div class="btn_wrap btn_small">
                                        <button id="btnSearchDealer" type="submit" class="btn-primary">
                                            <span class="btn_text">Tìm đại lý</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="link_for_mb only-show-mb">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <a class="collapsible-header">
                        <p class="container">Trao đổi với chúng tôi</p>
                    </a>
                    <div class="collapsible-body" style="">
                        <div class="container inner-collapsible">
                            <div id="toyota-contact" class="form-tmv form-tmv-1 ">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <select id="slInterested">
                                                <option disabled selected value="">Thông tin quý khách cần biết (*)</option>
                                                <option>Bán hàng</option>
                                                <option>Dịch vụ</option>
                                                <option>Đại lý</option>
                                                <option>Tư vấn tài chính</option>
                                                <option>Góp ý website</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col  s7">
                                        <div class="input-field">
                                            <input id="txtFullname" class="input" type="text" placeholder="Họ tên (*)" onKeyPress="this.value=ucwords(this.value)">
                                        </div>
                                    </div>
                                    <div class="col  s5">
                                        <div class="input-field">
                                            <input id="txtPhone" class="input" type="text" placeholder="Điện thoại (*)">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="txtEmail" class="input" type="text" placeholder="Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <textarea id="txtContent" autocomplete="off" class="input" length="500" maxlength="500" placeholder="Nội dung"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <div class="btn_wrap btn_small">
                                                <button id="btnContact" type="submit" class="btn-primary">
                                                    <span class="btn_text">Gửi</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <a class="collapsible-header">
                        <p class="container">Đại lý của bạn</p>
                    </a>
                    <div class="collapsible-body" style="">
                        <div class="container inner-collapsible">
                            <div class="form-tmv form-tmv-2  ">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <select id="AreaSelect">
                                                <option value="">Khu vực</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <select id="CitySelect">
                                                <option value="">Tỉnh / Thành phố</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <select id="DistrictSelect">
                                                <option value="">Quận / Huyện</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <div class="btn_wrap btn_small">
                                                <button id="btnSearchDealer" type="submit" class="btn-primary">
                                                    <span class="btn_text">Tìm đại lý</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="sec10 only-show-mb center-align">
        <div class="social">
            <span>
                <a href="https://www.facebook.com/suboixt/" target="_blank" class="icon-social">
                    <img src="/Content/images/icon_suboixt.png" alt="SUBOI x T">
                </a>
            </span>
            <span>
                <a href="https://www.facebook.com/ToyotaVietnam/" target="_blank" class="icon-social">
                    <img src="/Content/images/icon_social_fb.png" alt="Fanpage facebook của Toyota Việt Nam">
                </a>
            </span>
            <span>
                <a href="https://www.youtube.com/user/ToyotaMotorVietnam" target="_blank" class="icon-social">
                    <img src="/Content/images/icon_social_yt.png" alt="Liên kết youtube Toyota Việt Nam">
                </a>
            </span>

        </div>
        <span class="link-to-web">
            <a href="http://www.toyotavn.com.vn/" target="_blank">Toyota Việt Nam
                <img src="/Content/images/icon_external_link.png" height="10" />
            </a>
        </span>
    </div>
</div>

