<div class="tool-bottom-banner">
    <div class="container">
        <div class="list-icon-tool" style="opacity: 0">
            <div class="item">
                <a class="item__inner" href="/tin-tuc/tin-khuyen-mai-toyota">
                    <span class="item__icon-img">
                        <img class="img1" src="/Content/images/icon-tmv-home-page.png" />
                        <img class="img2" src="/Content/images/icon-tmv-home-page-on.png" />
                    </span>
                    <span class="item__text">
                        Khuyến mãi
                    </span>
                </a>
            </div>
            <div class="item">
                <a class="item__inner" href="/Content/download/bang-gia.pdf">

                    <span class="item__icon-img">
                        <img class="img1" src="/Content/images/icon-tmv-home-page-02.png" />
                        <img class="img2" src="/Content/images/icon-tmv-home-page-on-02.png" />
                    </span>
                    <span class="item__text">
                        Bảng giá
                    </span>
                </a>
            </div>

            <div class="item">
                <a class="item__inner" href="/du-toan-chi-phi">

                    <span class="item__icon-img">
                        <img class="img1" src="/Content/images/icon-tmv-home-page-03.png" />
                        <img class="img2" src="/Content/images/icon-tmv-home-page-on-03.png" />
                    </span>
                    <span class="item__text">
                        <span>Dự toán</span>&nbsp;
                        <span>chi phí</span>
                    </span>
                </a>
            </div>

            <div class="item">
                <a class="item__inner" href="/dang-ky-lai-thu">

                    <span class="item__icon-img">
                        <img class="img1" src="/Content/images/icon-tmv-home-page-04.png" />
                        <img class="img2" src="/Content/images/icon-tmv-home-page-on-04.png" />
                    </span>
                    <span class="item__text">
                        <span> Đăng ký</span>&nbsp;
                        <span>lái thử</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>