<head>
    <link rel="icon" type="image/png" href="/Content/images/favicon.png">
    <title>Trang chủ | Toyota Gia Lai</title>
    <meta name="Description" content="Toyota l&#224; thương hiệu &#244;t&#244; h&#224;ng đầu thế giới. Tại Gia Lai, Toyota cũng bắt đầu sản xuất v&#224; kinh doanh từ năm 1997 v&#224; cho đến nay vẫn l&#224; h&#227;ng xe du lịch được ưa chuộng nhất tại Gia Lai."
    />
    <meta name="Keywords" content="toyota, toyota viet nam, xe toyota" />
    <meta property="og:url" content="http://www.toyota.com.vn/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trang chủ | Toyota Gia Lai" />
    <meta property="og:description" content="Toyota l&#224; thương hiệu &#244;t&#244; h&#224;ng đầu thế giới. Tại Gia Lai, Toyota cũng bắt đầu sản xuất v&#224; kinh doanh từ năm 1997 v&#224; cho đến nay vẫn l&#224; h&#227;ng xe du lịch được ưa chuộng nhất tại Gia Lai."
    />
    <meta property="og:image" content="http://www.toyota.com.vn/data/configs/" />
    <meta name="twitter:title" content="Trang chủ | Toyota Gia Lai">
    <meta name="twitter:description" content="Toyota l&#224; thương hiệu &#244;t&#244; h&#224;ng đầu thế giới. Tại Gia Lai, Toyota cũng bắt đầu sản xuất v&#224; kinh doanh từ năm 1997 v&#224; cho đến nay vẫn l&#224; h&#227;ng xe du lịch được ưa chuộng nhất tại Gia Lai.">
    <meta name="twitter:image" content="http://www.toyota.com.vn/data/configs/">
    <meta name="twitter:card" content="http://www.toyota.com.vn/data/configs/">
    <link rel="canonical" href="http://www.toyota.com.vn/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="/">
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="/bundles/css.css" rel="stylesheet" />

    <link href="/Content/css/main.css" rel="stylesheet" />
    <link href="/Content/css/main-content-2.css" rel="stylesheet" />
    <link href="/Content/css/main-content.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>