<div id="banner">
    <div class="banner_pc">
        <div class="owl-carousel slide-banner" id="slideHomeContent">
            <div>
                <a class="img_banner" target="_parent" style="cursor: pointer" href="http://www.toyota.com.vn/tin-tuc/tin-tuc-chung/toyota-viet-nam-gioi-thieu-vios-yaris-the-he-moi-2018-thay-doi-de-but-pha">
                    <img class="owl-lazy" data-src="/data/aditems/687/1_PRODUCT_VIOS.png?w=1436&h=550&mode=crop" />
                </a>
                <div class="bg_over">
                    <div class="tbl pos''1' '">
                        <div class="cell">
                            <div class="txt'">
                                <div>
                                    <div class="btn_banner hide-mb"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="img_banner" target="_parent" style="cursor: pointer" href="http://www.toyota.com.vn/tin-tuc/tin-tuc-chung/toyota-viet-nam-gioi-thieu-vios-yaris-the-he-moi-2018-thay-doi-de-but-pha">
                    <img class="owl-lazy" data-src="/data/aditems/688/1_PRODUCT_YARIS.png?w=1436&h=550&mode=crop" />
                </a>
                <div class="bg_over">
                    <div class="tbl pos''1' '">
                        <div class="cell">
                            <div class="txt'">
                                <div>
                                    <div class="btn_banner hide-mb"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="img_banner" target="_parent" style="cursor: pointer" href="http://www.toyota.com.vn/vuisangtao">
                    <img class="owl-lazy" data-src="/data/aditems/689/Top banner-01-1436x550.png?w=1436&h=550&mode=crop" />
                </a>
                <div class="bg_over">
                    <div class="tbl pos''1' '">
                        <div class="cell">
                            <div class="txt'">
                                <div>
                                    <div class="btn_banner hide-mb"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="img_banner" target="_parent" style="cursor: pointer" href="/fortuner-2-4g-4x2-mt">
                    <img class="owl-lazy" data-src="/data/aditems/666/HomeBanner.png?w=1436&h=550&mode=crop" />
                </a>
                <div class="bg_over">
                    <div class="tbl pos''1' '">
                        <div class="cell">
                            <div class="txt'">
                                <div>
                                    <div class="btn_banner hide-mb"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="img_banner" target="_parent" style="cursor: pointer" href="http://www.toyota.com.vn/hilux-2-4e-4x2-at-mlm">
                    <img class="owl-lazy" data-src="/data/aditems/665/Hilux2018_TMVbanner_FA.png?w=1436&h=550&mode=crop" />
                </a>
                <div class="bg_over">
                    <div class="tbl pos''1' '">
                        <div class="cell">
                            <div class="txt'">
                                <div>
                                    <div class="btn_banner hide-mb"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>